*{
    font-family: 'Ubuntu', sans-serif;
}

.nav{
    background-color: rgb(93, 93, 176);
}

i{
    color: black;
    padding: 7px;
}

.getData{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.data{
    justify-content:flex-start;
    padding-top:20px ;
}

.getData h1{
    color: whitesmoke;
}

.data p{
    font-size: 14px;
    color: white;
}

.data i{
    color: white;
}

.items a{
    font-size: 20px;
    font-weight: 100;
    padding-right: 25px;
    color: rgba(255, 255, 255, 0.658);
    text-decoration: none;
}

.items a:hover{
    color: white;
    text-decoration: underline;
}

.info{
    display: flex;
    justify-content: center;    
    align-items: center;
    text-align: center;
    padding: 25px;
}

.info p{
    color: rgba(0, 0, 0, 0.518);
}

.info h1{
    color:rgb(72, 72, 160);
}

.take1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.take2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}  


.carded img{
    height: 100px;
}

.card1{
    outline: 2px solid rgba(0, 0, 0, 0.388);
    border-radius: 10px;
    margin: 20px;
    padding: 13px;  
}

.carded p{
    font-size: 20px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.731);
}

.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.iconbutton{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: rgb(72, 72, 160);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
    
  }
  
  /* Form Pop-up */
  
  .popup {
    width:400px;
    background-color: white;
    border-radius: 3mm;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    position: fixed;
    /* padding: 30px; */
    visibility: hidden;
  }
  
  .popup img {
    padding-top: 20px;
  }
  
  .popup button {
    background-color: #fff;
    border: 1px solid ;
    color: rgb(72, 72, 160);
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    margin-left: 25%;
  }
  
  .popup button:hover {
    background-color: #fff;
    border: 2px solid ;
    color: rgb(72, 72, 160);
    display: block;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    margin-left: 25%;
  }